* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

h2 {
    margin: 40px 0px 5px 0px;
}
h1{
    color: #fff;
    margin: 10px;
    padding: 20px;
    width: auto;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 8px;
}

section {
    color: #fff;
    margin: 10px;
    padding: 20px;
    width: auto;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 8px;
}

p {
    padding: 10px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #000;
    background-color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 8px;
}
